<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="authcore@modules.jelix.org" name="authcore" createdate="2019-09-27">
        <version date="2024-04-04">0.4.0-pre</version>
        <label lang="en_US">JelixAuth Core</label>
        <description lang="en_US">Core of authentication system</description>
        <license>MIT</license>
        <copyright>2019-2024 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>https://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.8.0-alpha.2" maxversion="1.8.*"/>
    </dependencies>
    <autoload>
        <namespacePathMap name="Jelix\Authentication\Core" dir="lib/Core" />
        <class name="jAuthentication" file="lib/jAuthentication.php" />
   </autoload>
</module>
