;<?php die(''); ?>
;for security reasons, don't remove or modify the first line
[jdb]

; name of the default profile to use for any connection
default=test

[jdb:test]
driver="sqlite3"
database="var:db/test.sqlite"
persistent= on
force_encoding = on

[jdb:daotablesqlite]
driver="sqlite3"
database="var:db/daotablesqlite.sqlite"
persistent= on
force_encoding = on

