<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="authloginpass@modules.jelix.org" name="authloginpass" createdate="2019-09-27">
        <version date="2022-01-12">0.3.0-pre</version>
        <label lang="en_US">JelixAuth LoginPass</label>
        <description lang="en_US">Identity provider based on Login/password, for JelixAuth</description>
        <license>MIT</license>
        <copyright>2019-2022 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>https://jelix.org</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.0" maxversion="1.8.*"/>
        <module name="authcore" />
    </dependencies>
    <autoload>
        <namespacePathMap name="Jelix\Authentication\LoginPass" dir="lib/" />
    </autoload>
</module>
