;<?php die(''); ?>
;for security reasons, don't remove or modify the first line


[login:admin]
password="$2y$10$DT9NlAi5bC1dx74sDw9Jc.9K5PNpePgCaBPrk4vb3vzHpJPb42Kc."
email="admin@kocotier.net"
name=Administrator
status=1
