<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="test-auth-app@jelix.org" name="test">
        <version>0.1</version>
    </info>
    <dependencies>
        <jelix minversion="1.8.0-alpha.2" maxversion="1.8.*"/>
    </dependencies>
    <autoload>
        <namespacePathMap name="TestAuth\" dir="lib/" />
    </autoload>
</module>
